
<nav class="indigo darken-1">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center" style="font-size: xx-large"><i class="material-icons right">pets</i>Mads' Pet-Shop</a>
    <ul class="left hide-on-med-and-down">
      <li><a routerLink="/" style="font-size: x-large">Home</a></li>
      <li><a routerLink="/pet" style="font-size: x-large">Pets</a></li>
      <li><a routerLink="/owner" style="font-size: x-large">Owners</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/login" style="font-size: x-large"><i class="material-icons right">person_pin</i>Login</a></li>
    </ul>
  </div>
</nav>


